@import url('https://fonts.googleapis.com/css?family=Roboto');
.blog-post-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 800px) {
  .blog-post-container {
    width: 95%;
  }
}

/* Roboto, Open Sans and Lato. /*

/*
  color: #031927; midnight blue
  color: #424B54; outer space
  color: #3E8290; teal blue
  color: #93A8AC; cadet gray

  color #151515; LICORICE
  color #222222; RAISIN
  color: #0B4F6C; DARK IMPERIAL BLUE
  color: #FBFBFF; GHOST WHITE
  color: #DB2B39; RUSTY RED
  color: #AAAAAA; DARK MEDIUM GRAY
*/

.title {
  color: #424B54;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 5px;
}

.date {
  color: #424B54;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.blog-banner {
  position: relative;
  text-align: center;
}

.blog-banner-img {
  opacity: 1;
  padding-bottom: 25px;
}

.blog-img-credit {
  position: absolute;
  top: 88%;
  right: 10%;
  font-size: 8px;
  color: #AAAAAA;
  text-decoration: none;
  font-style: italic;
}

.content {
  color: #151515;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.content h2 {
  color: #3E8290;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

.content a, .content a:visited, .content a:active, .content a:hover {
  color: #424B54;
}

.disclaimer {
  margin-top: 50px;
  font-size: 14px;
  color: #AAAAAA;
  line-height: 1.2;
  font-style: italic;
}

/* .content h2 {
  color: #93A8AC;
  font-family: 'Roboto', sans-serif;
} */

/*
#C0DDDC
#3E8290
#FD8024
#7ECDCC
#FFFFFF
*/

/*
#1C4269
#F96F4D
#FFFFFF
#FBB736
#DBE8EF
#329E9A
#FFFFFF
*/