$brand-green: #3E8290;
$lightened-brand-green: #4898a8;
/* $complement-brand-color: #1f4148; #0c505e; */
/*
  color: #031927; midnight blue
  color: #424B54; outer space
  color: #3E8290; teal blue
  color: #93A8AC; cadet gray

  color #151515; LICORICE
  color #222222; RAISIN
  color: #0B4F6C; DARK IMPERIAL BLUE
  color: #FBFBFF; GHOST WHITE
  color: #DB2B39; RUSTY RED
  color: #AAAAAA; DARK MEDIUM GRAY
*/