@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin page-title {
    color: $header-text;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}