@mixin page-title {
    color: $header-text;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

@mixin page-container {
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}