@import '../styles/style.scss';

.page-container {
    @include page-container;
}

.page-title {
    @include page-title;
    padding-top: 20px;
    padding-top: 10px;
}

.punchline {
    font-size: 12px;
}