@import '../styles/style.scss';

.glossary-container {
    @include page-container;
}

.glossary-title {
    @include page-title;
    padding-top: 20px;
    padding-top: 10px;
}

.glossary-entry {
    padding-bottom: 15px;
}

.entry-name {
    font-weight: 700;
}