@import '../../styles/style.scss';

.disclaimer-container {
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
    margin: 0 auto;
}

.disclaimer-title {
    @include page-title;
    padding-top: 20px;
    padding-top: 10px;
}